{% extends 'base.html.twig' %}

{% block title %}Delete Purchase{% endblock %}

{% block body %}
<h1>Delete Purchase</h1>

<p>Are you sure you want to delete this purchase?</p>

<form method="post" action="{{ path('app_purchase_delete', {'id': purchase.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ purchase.id) }}">
    <button type="submit">Delete</button>
</form>

<a href="{{ path('app_purchase_index') }}">Cancel</a>
