{# templates/emails/your_email_template.html.twig #}
<!DOCTYPE html>
<html lang="">
    <body>
        <p>Hello {{ customerName }},</p>
        <p>You have received an email from the admin.</p>
    </body>
</html>
