{% extends 'base.html.twig' %}

{% block title %}New Purchase{% endblock %}

{% block body %}
    <h1>New Purchase</h1>

    {{ include('purchase/_form.html.twig', {'form': form}) }}

    <a href="{{ path('app_purchase_index') }}">Back to Index</a>
{% endblock %}
